* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: monaco, monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: block;
  font-family: monaco, monospace;
}
.left-column,
.right-column {
  background-color: rebeccapurple;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form,
.form-player-O {
  display: none;
}
.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: yellow;
}
.board-container {
  background-color: red;
  width: 90vh;
  height: 90vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.board-square {
  font-size: 5rem;
  line-height: 25vh;
  text-align: center;
  background-color: white;
  height: 25vh;
  width: 25vh;
  margin: 1rem;
}
